<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="AngularJS" />
    <meta name="description" content="The Point Test Site" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Ah hey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Bower Components -->
    <link href="bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <!-- Local Styles-->
    <link href="site.css" rel="stylesheet" />
    <link href="app/styles/whiteframe.css" rel="stylesheet" />
    <link href="app/styles/button.css" rel="stylesheet" />

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- CDN Styles -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Floating material button style-->
    <link href="floating_fab/mfb.css" rel="stylesheet"/>
</head>
<body ng-app="App" layout="row" ng-controller="IndexCtrl" ng-cloak>

<!-------FLOATING FAB--------->
<nav mfb-menu position="br" effect="zoomin" label="Share"
     active-icon="ion-close-round" resting-icon="ion-plus-round"
     toggling-method="click">
    <button mfb-button icon="ion-social-facebook" label="Facebook"></button>
    <button mfb-button icon="ion-social-twitter" label="Twitter"></button>
    <button mfb-button icon="ion-social-pinterest" label="Pinterest"></button>
</nav>
<!-------END FLOATING FAB--------->

<!-------RIGHT SLIDEOUT MENU-------->
<md-sidenav class="site-sidenav md-sidenav-right md-whiteframe-z2"
            md-component-id="right"
            style="background-color:#ffffff;"
            md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button md-accent" aria-label="More">

                <i class="material-icons" style="color:white;" ng-click="toggleRight()" hide-gt-sm>more_horiz</i>
            </md-button>
            <h2 style="color:white;"></h2>
        </div>
    </md-toolbar>

    <h1>Product Carousel</h1>

</md-sidenav>
<!-------END RIGHT SLIDEOUT MENU-------->


<!-------LEFT SLIDEOUT MENU-------->
<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            style="background-color:#ffffff;"
            md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" hide-gt-md aria-label="Show Menu">
                <ng-md-icon icon="{{menuIcon}}" style="fill:white;vertical-align:middle;" ng-click="menuToggle()" hide-gt-sm></ng-md-icon>
            </md-button>
            <h2 style="color:white;"></h2>
        </div>
    </md-toolbar>

    <md-list>
        <md-list-item ng-repeat="item in menuItems" ng-click="go(item.path,item.name);menuToggle();">
            <p style="font-size:18px;color:black;">{{item.name}}</p>
        </md-list-item>
    </md-list>

</md-sidenav>
<!-------END LEFT SLIDEOUT MENU-------->

<!-------MAIN TOOLBAR-------->
    <div layout="column" layout-fill>
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <ng-md-icon icon="{{menuIcon}}" style="fill:white;vertical-align:middle;" ng-click="menuToggle()" hide-gt-sm></ng-md-icon>
                </md-button>
                <h2>
                    <span style="color:white;">ThePoint</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button md-accent" aria-label="Search">
                    <i class="material-icons" style="color:white;">search</i>
                </md-button>
                <md-menu md-offset="0 -7">
                <md-button class="md-icon-button md-accent" aria-label="Person" ng-click="$mdOpenMenu($event)">
                    <i class="material-icons" style="color:white;">person</i>
                </md-button>
                    <md-menu-content width="2">
                        <md-menu-item ng-repeat="item in [1, 2, 3]">
                            <md-button ng-click="ctrl.announceClick($index)"> <span md-menu-align-target>Option</span> {{item}} </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-button class="md-icon-button md-accent" aria-label="More">
                    <i class="material-icons" style="color:white;" ng-click="toggleRight()" hide-gt-sm>more_horiz</i>
                </md-button>
            </div>
        </md-toolbar>
    </div>
<!-------END MAIN TOOLBAR-------->


<!--
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" hide-gt-md aria-label="Show Menu">
                <ng-md-icon icon="{{menuIcon}}" style="fill:white;vertical-align:middle;" ng-click="menuToggle()" hide-gt-sm></ng-md-icon>
            </md-button>
            <h2 style="color:white;">The Point</h2>
        </div>
    </md-toolbar>
-->

<!--
<div layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>My App's Title</span>
            <!-- fill up the space between left and right area
            <span flex></span>
            <md-button>
                Hi, I'm a button. I love you.
            </md-button>
        </div>
    </md-toolbar>
</div>-->

<!--<md-toolbar layout="row" class="md-whiteframe-z1">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" hide-gt-md aria-label="Show Menu">
            <ng-md-icon icon="{{menuIcon}}" style="fill:white;vertical-align:middle;" ng-click="menuToggle()" hide-gt-sm></ng-md-icon>
        </md-button>
        <h2 style="color:white;">The Point</h2>
    </div>
</md-toolbar>-->




<!-- 3rd party libraries -->
<!-- Bower Components -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="bower_components/svg-morpheus/compile/minified/svg-morpheus.js"></script>

<!-- Load app main script -->
<script src="app/app.js"></script>
<!-- Load services -->
<!-- Load controllers -->
<script src="app/controllers/indexCtrl.js"></script>
<script src="app/controllers/homeCtrl.js"></script>
<script src="app/controllers/sideNavLeftCtrl.js"></script>
<script src="app/controllers/autocompleteCtrl.js"></script>
<script src="app/controllers/buttonCtrl.js"></script>

<!-- Load custom filters -->
<!-- Load custom directives -->
<script src="floating_fab/mfb-directive.js"></script>


</body>
</html>