<md-content>

    <div ng-repeat="image in images">
        <img data-lazy="{{image}}">
    </div>

    <ul>
        <li>
            {{navElements.title}} has children:
            <ul>
                <li ng-repeat="child in navElements.children">
                    {{child.title}} has grand-children:
                        <ul>
                            <li ng-repeat="gch in child.children">{{gch.title}}</li>
                        </ul>
                </li>
            </ul>
        </li>
    </ul>


    <h2>Angular.js JSON Fetching Example </h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Path</th>
            <th>Children</th>
        </tr>
        <tr ng-repeat="elements in navElements">
            <td>{{navElements.title}}</td>
            <td>{{navElements.path}}</td>
            <td>{{navElements.children}}</td>
        </tr>
    </table>


</div>

    <div layout="row" layout-sm="column">
        <slick dots="true" infinite="false" vertical="false" speed="300" slides-to-show="5" touch-move="true" slides-to-scroll="1">
            <div ng-repeat="image in images">
                <img src="{{image}}">
            </div>
        </slick>
    </div>


</md-content>
